.btn {
    border-style: none;
    font-size: 0.7em;
    border-radius: 3px;
    padding: 4px 30px;
    cursor: pointer;
    text-decoration: none;
    color: black;

    &:hover {
        color: black;
    }

}