.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: calc(5px + 2vmin);
  color: black;
}

 img {
   margin-bottom: 15px;
 }

.App-link {
  color: #61dafb;
}

.btn {
  border-style: none;
  font-size: 0.7em;
  border-radius: 3px;
  padding: 4px 30px;
  cursor: pointer;
  text-decoration: none;
  color: black;

  &:hover {
      color: black;
  }

}

.amarelo {
  background-color: yellow;
  border-color: yellow;
  color: black;
}

.verde {
  background-color: lime;
  border-color: lime;
  color: black;
}

.vermelho {
  background-color: crimson;
  border-color: crimson;
  color: black;
}

.botoes {
  margin: 15px 0;
}

.flash {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
}

.invisivel {
  display: none;
}

.descricao-nota{
  span {
    width: 100%;
    text-align: center;
  }

  input {
    width: 150px;
    margin-left: 10px;
  }
}

.fade-in {
  animation: fadein 1s linear forwards;
}

.fade-out {
  animation: fadeout 1s linear forwards;
}

@keyframes fadein { from { opacity: 0; } to { opacity: 1; visibility: visible; } }
@keyframes fadeout { from { opacity: 1; } to { opacity: 0; visibility: hidden; } }

/**********************************************/

.mensagem-erro {
  color: red;
  font-size: 12px;
}

.erro {
 border-color: red; 
}

.header {
  width: 100%;
  box-shadow: 0 6px 10px rgba(000,000,000,0.4);
  top: 0;
  left: 0;
  z-index: 100;
  padding: 20px 20px 0 20px;
  position: fixed;
  top: 0;
  background: black;
  width: 100%;
  margin-bottom: 0px;  
  height: 80px;
}

.netflixLogo {
  object-fit: cover;
  width: 100px;
  max-height: 100%;
  padding-left: 30px;
  padding-top: 0px;  
}

.netflixLogo img {  
  height: 35px;     
}

#logo {
  color: #E50914;  
  margin: 0; 
  padding: 0; 
}

.main-nav {
  margin-top: -35px;
  float: right;
}

.body {
  background-color: black;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding-top: 220px;
  padding-left: 10px;
  padding-right: 10px;
}

.detalhe {
  background-color: black;
  display: block;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding-top: 220px;
  padding-left: 10px;
  padding-right: 10px;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.link:hover {
  color: red;
}

.cards {
  border: 1px solid red;
  border-radius: 8px;
  margin-top: 10px;
  text-align: center;
}

.lista-episodios {
  list-style-type: none;
}

.lista-episodios-nome {
  font-weight: bold;
}

.lista-episodios-sinopse {
  margin-top: 5px;
  font-size: 0.8em;
}

.imagem-episodio {
  width: 100%;
  border-radius: 8px;
}

@media (min-width: 767px) {
  .body {
    grid-template-columns: auto auto auto auto;
    padding-top: 70px;
  }

  .cards {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    width: 100%;
  }

  .detalhe {
    padding-top: 150px;
  }
}

.container {
  max-width: 1280px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.container img,
.container span {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  box-sizing: border-box;
}

.col-sm-1 {
  width: 8.3333333333%;
}

.col-sm-2 {
  width: 16.6666666667%;
}

.col-sm-3 {
  width: 25%;
}

.col-sm-4 {
  width: 33.3333333333%;
}

.col-sm-5 {
  width: 41.6666666667%;
}

.col-sm-6 {
  width: 50%;
}

.col-sm-7 {
  width: 58.3333333333%;
}

.col-sm-8 {
  width: 66.6666666667%;
}

.col-sm-9 {
  width: 75%;
}

.col-sm-10 {
  width: 83.3333333333%;
}

.col-sm-11 {
  width: 91.6666666667%;
}

.col-sm-12 {
  width: 100%;
}

@media (min-width: 748px) {
  .col-md-1 {
      width: 8.3333333333%;
  }
  
  .col-md-2 {
      width: 16.6666666667%;
  }
  
  .col-md-3 {
      width: 25%;
  }
  
  .col-md-4 {
      width: 33.3333333333%;
  }
  
  .col-md-5 {
      width: 41.6666666667%;
  }
  
  .col-md-6 {
      width: 50%;
  }
  
  .col-md-7 {
      width: 58.3333333333%;
  }
  
  .col-md-8 {
      width: 66.6666666667%;
  }
  
  .col-md-9 {
      width: 75%;
  }
  
  .col-md-10 {
      width: 83.3333333333%;
  }
  
  .col-md-11 {
      width: 91.6666666667%;
  }
  
  .col-md-12 {
      width: 100%;
  }
}

@media (min-width: 1280px) {
  .col-lg-1 {
      width: 8.3333333333%;
  }
  
  .col-lg-2 {
      width: 16.6666666667%;
  }
  
  .col-lg-3 {
      width: 25%;
  }
  
  .col-lg-4 {
      width: 33.3333333333%;
  }
  
  .col-lg-5 {
      width: 41.6666666667%;
  }
  
  .col-lg-6 {
      width: 50%;
  }
  
  .col-lg-7 {
      width: 58.3333333333%;
  }
  
  .col-lg-8 {
      width: 66.6666666667%;
  }
  
  .col-lg-9 {
      width: 75%;
  }
  
  .col-lg-10 {
      width: 83.3333333333%;
  }
  
  .col-lg-11 {
      width: 91.6666666667%;
  }
  
  .col-lg-12 {
      width: 100%;
  }

}