.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  width: 100%;
  height: 50px  ;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header .img {
  margin-left: 50%;
}

.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}

.login h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 40px 0px;
}

.login {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cadastro {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cadastro span {
  align-self: center;
  margin: 20px 0;
}

.campo {
  display: flex;
  flex-direction: column;
}

.campo label {
  margin: 5px 0;
}

.campo input {
  margin-bottom: 20px;
}

.checkbox span {
  align-self: flex-end;
}

.check-senha {
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.categoria {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  margin: 10px ;
}

.categoria > .titulo {
  width: 120px;
  font-size: 20px;
  font-weight: bold;
}

.categoria > .sub {
  margin: 10px;
  display: flex;
  font-size: 14px;
  color: gray;
}

.produto {
    column-gap: 10px;
    display: inline-block;
    justify-content: space-between;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
  
.imagem {
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
}

.preco-menu {
  background-color: white;
  position: absolute;
  border-radius: 3px;
  bottom: -5px;
  font-size: 12px;
  width: fit-content;
}

.produto > .item {
  position: relative;
  height: 200px;
  width: 200px;
}

.menu {
  display: flex;
  justify-content: space-around;
  width: auto;
  margin: 10px;
}

.carousel > div {
  display: flex;
  justify-content: center;
}

.carousel > div > img {
  width: 100%;
}

.box {
  display: flex;
  align-items: center;
  justify-self: flex-end;
}

.box .pesquisar {
  display: flex;
  padding: 0;
}

.imagem-menu {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.nav {
  display: flex;
  justify-content: right;
  margin-left: 500px;
}

.nav ul {
  list-style: none;
  display: flex;
}

.nav ul li {
  margin: 10px;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 5px 0 0;
}

.icon:hover {
  cursor: pointer;
}

.botoes {
  display: flex;
  align-items: center;
}

.botoes span{
  margin: 0 10px;
}

button {
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 20px 40px;
  border: 0.5px solid;
  border-radius: 6px;
}

button:hover {
  cursor: pointer;
}

.vermelho {
  background-color: rgb(255,110,140);
}

.azul {
  background-color: blue;
}

.azul:hover {
  background-color: rgb(0, 100, 250);
}

.rosa {
  padding: 10px 20px;
  background-color: rgb(255,110,140);
}

.rosa:hover {
  background-color: rgb(255,130,160);
}

.branco{
  color: rgb(255,110,140);
  background-color: white;
}

.branco:hover {
  color: rgb(255,130,160);
  background-color: white;
}

.entrar {
  border: none;
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  background-color: white;
}

.entrar:hover {
  border-bottom: 3px solid rgb(255,130,160);
}

.desconto {
  padding: 1px;
  background-color: purple;
  color: white;
}

.desconto span {
  font-weight: bold;
}

.desconto span span {
  font-weight: normal;
}

.desconto span span span{
  text-decoration: underline;
}

.link {
  font-size: 15px;
  border: none;
  background-color: white;
  padding: 0 10px 12px 10px;
  color: rgb(255,110,140);
  text-decoration: none;
  transition: color 0.4s ease-in-out 0s;
}

.link:hover {
  color: lightpink;
}

.container {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  margin: 10px 10%;
}

.container-left img{
  width: 400px;
  border-radius: 4px;
}

.container-middle {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.container-middle > img:hover {
  cursor: pointer;
}

.container-right > .nome {
  font-size: 24px;
  font-weight: bold;
  margin: 4px;
}

.container-right > .marca  span{
  margin: 4px 5px;
  border-left: 0.5px solid #999;
  padding-left: 5px;
  color: rgb(255,110,140);
}

.preco {
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 300px;
  font-size: 25px;
  font-weight: bold;
  color:  rgb(255,110,140);
  display: flex;
  align-items: center;
}

.container-right > .botoes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-right > .botoes button {
  width: 50%;
  margin: 5px 180px;
  height: 48px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 600;
  border-width: 1px;
  border-radius: 3px;
  line-height: 46px;
}

.container-right > .detalhes {
  width: 300px;
  border: 0.1px solid lightgray;
  padding: 20px;
  margin: 20px 190px;
}

.quadrado {
  text-align: center;
}

.tamanho {
  border-bottom: 0.1px solid lightgray;
}

 .marca-quadrado {
  padding-right: 15px;
  padding-top: 0px;
  text-align: center;
  width: 33.3%;
  display: inline;
  border-right: 0.1px solid lightgray;
}

.condicao {
  width: 33.3%;
  padding: 0px 15px 0 15px;
  text-align: center;
  display: inline;
  border-right: 0.1px solid lightgray;
}

.codigo {
  padding-left: 15px;
  width: 33.3%;
  text-align: center;
  display: inline;
}

.descricao-titulo {
  padding-right: 260px;
  color: gray;
  font-weight: bold;
}

.descricao {
  margin-left: 195px;
  text-align: justify;
}

.vendedor {
  width: 300px;
  border: 0.1px solid lightgray;
  padding: 20px;
  margin: 20px 190px;
}

.titulo {
  display: inline;
}

.avaliacao {
  margin: 20px 0 30px;
  padding: 20px;
  border: 1px solid #f4f2f0;
  border-radius: 3px;
}

.table-up {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f4f2f0;
  padding: 15px 0;
}

.table-up > button {
  font-size: 14px;
  padding: 5px 10px;
}

.table-up > span {
  font-size: 14px;
  font-weight: 600;
}

.table-middle {
  border-bottom: 1px solid #f4f2f0;
}

.table-middle,
.table-bottom  {
  display: flex;
  justify-content: space-around;
}

.table-middle > div,
.table-bottom > div  {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 10px;
}

.table-middle > div > span,
.table-bottom > div > span {
  margin-bottom: 10px;
}

