.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: pink;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: calc(5px + 2vmin);
  color: black;
}

 img {
   margin-bottom: 15px;
 }

.App-link {
  color: #61dafb;
}

.btn {
  border-style: none;
  font-size: 0.7em;
  border-radius: 3px;
  padding: 4px 30px;
  cursor: pointer;
}

.amarelo {
  background-color: yellow;
  border-color: yellow;
  color: black;
}

.verde {
  background-color: lime;
  border-color: lime;
  color: black;
}

.vermelho {
  background-color: crimson;
  border-color: crimson;
  color: black;
}

.botoes {
  margin: 15px 0;
}

.botoes .btn {
  margin: 0 10px;
}

.flash {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
}

.invisivel {
  display: none;
}

.descricao-nota{
  span {
    width: 100%;
    text-align: center;
  }

  input {
    width: 150px;
    margin-left: 10px;
  }
}

.fade-in {
  animation: fadein 1s linear forwards;
}

.fade-out {
  animation: fadeout 1s linear forwards;
}

@keyframes fadein { from { opacity: 0; } to { opacity: 1; visibility: visible; } }
@keyframes fadeout { from { opacity: 1; } to { opacity: 0; visibility: hidden; } }

/**********************************************/

.mensagem-erro {
  color: red;
  font-size: 12px;
}

.erro {
 border-color: red; 
}
